




/* classe css de la page*/
#res_script{
	border:0;
	background-color:white;
	color:rgb(23, 15, 57);
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, année de publi) */ 
.Rubrique{
	border-bottom: 2px solid rgb(23, 15, 57);
}

/*nom du champ*/
.ChampRes {
	display:none;
}

/* classe commune à  tous les champs affichÃ©s */ 
.ValeurRes {
	color:black;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
   font-weight:bold;
	color:rgb(23, 15, 57);
}

.annee_publi, .typdoc, .Rubrique, .SousRubrique {
    color:rgb(23, 15, 57);
}

.NoticeRes {
	border-bottom: 0px;
}
.NoticeResAvecVignette {
	border-bottom: 0px;
}


.LienBibtexACoteFulltext, .DOI {
    color:rgb(58, 70, 245);
}

a:link { 
    text-decoration: none; 
    color:rgb(58, 70, 245);
  } 
  a:visited { 
    text-decoration: none; 
    color:rgb(58, 70, 245);

  } 
  a:hover { 
    text-decoration: underline; 
    color:rgb(58, 70, 245);
	font-weight:bold;

  } 
  a:active { 
    text-decoration: none; 
  }
  
