

BODY {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: rgb(23, 15, 57);
	color: fff;
	font-size: 12px;
}


/* classe css de la page*/
#res_script{
	border:0;
	background-color:rgb(23, 15, 57);
	color:#fff;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, annÃ©e de publi) */ 
.Rubrique{
	border-bottom: 2px solid #fff;
}

/*nom du champ*/
.ChampRes {
	display:none;
}

/* classe commune Ã  tous les champs affichÃ©s */ 
.ValeurRes {
	color:#fff;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
   font-weight:bold;
	color:#fff;
}

.annee_publi, .typdoc, .Rubrique, .Auteurs, .article {
    color:#fff;
}

.SousRubrique {
    color:#fff;
}

.NoticeRes {
	border-bottom: 0px;
}

.LienBibtexACoteFulltext, .DOI {
    color:rgb(58, 70, 245);
}

a:link { 
    text-decoration: none; 
    color:rgb(58, 70, 245);
  } 
  a:visited { 
    text-decoration: none; 
    color:rgb(58, 70, 245);
  } 
  a:hover { 
    text-decoration: underline; 
    color:rgb(58, 70, 245);
	font-weight:bold;

  } 
  a:active { 
    text-decoration: none; 
  }
